.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
.login-container{
  display: flex;
  justify-content: center;
}
.login-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 30px;

}
.login-item{
  padding: 10px 0;
}

.sales-scrollbar{
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;

}
.sales-scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 4px rgb(70, 195, 71);
  border-radius: 10px;
  background-color: #F5F5F5;}

.sales-scrollbar::-webkit-scrollbar{
  width: 10px;
  background-color: #37b81a;
  border-left: 1px solid #1d7925;
}
.sales-scrollbarr::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
.loadingCSS{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f8ad;
}
.innerLoader{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;

}

.bean-scrollbar{
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;

}
.bean-scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 4px rgb(70, 195, 71);
  border-radius: 10px;
  background-color: #F5F5F5;}

.bean-scrollbar::-webkit-scrollbar{
  width: 10px;
  background-color: #37b81a;
  border-left: 1px solid #1d7925;
}
.bean-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}

.modal-body{
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
}
